services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: docIntel-postgres
    restart: always
    
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    
    ports:
      - "5432:5432"
    
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - ./fix-hba.sh:/docker-entrypoint-initdb.d/fix-hba.sh
    
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
